@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

.header {
  display: flex;
  width: 97vw;
  align-items: center;
  justify-content: space-between;
}

.logoImg {
  width: 50px;
}

.apple {
  color: #78B6DF;
  font-family: 'Luckiest Guy', cursive;
  font-size: 55px;

}


p {

}