.nav {
  text-decoration: none;
  background-color: #c0c7dc;
  color: #252654;
  border-radius: 20%;
  margin-right: 50px;  
  font-family: "luckiest guy";
  width: 60px;
  text-align: center;
}
.nav1{
  text-decoration: none;
  background-color: #c0c7dc;
  color: #252654;
  border-radius: 20%;
  margin-right : 50px;
  font-family: "luckiest guy";
  text-align: center;
  width: 60px;

}

.navBar {
  display: flex;
  align-content: space-between;
  justify-content: space-between;
  height: 25px;
  text-decoration: none;
  top: 20px;
}

.current {
  background-color: #6e88bf;
}
