.nav {
  text-decoration: none;
  background-color: #c0c7dc;
  color: #252654;
  border-radius: 20%;
  margin-right: 53px;  
}
.nav1{
  text-decoration: none;
  background-color: #c0c7dc;
  color: #252654;
  border-radius: 20%;
  margin-right : 50px;


}

.navBar {
  display: flex;
  align-content: space-between;
  justify-content: space-between;
  height: 30px;
  text-decoration: none;
}

.current {
  background-color: #6e88bf;
}
