@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Bowlby+One+SC&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,600;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  letter-spacing: 1px;
  height: 100vh;
  overflow: hidden;
  background-image: url("./images/homePurple.jpg"); 
  background-repeat: no-repeat;
  color: white;
  width: 100%;
  height: 100%;
  background-size: cover; 
}

main{
  height: 100vh;
}

h1 {
  font-family: "Luckiest guy";
  letter-spacing: 3px;
  
}

h2 {
  font-family: "Permanent Marker", cursive;
  text-align: center;
  letter-spacing: 4px;
}

h3 {
  font-family: "Permanent Marker", cursive;
  letter-spacing: 3px;

}


