@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Bowlby+One+SC&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
body {
  font-family: "Black Han Sans", sans-serif;
  letter-spacing: 1px;
  width: 97vw;
}

h3 {
  position: relative;
  display: inline-block;
  font-size: 32px;
  font-weight: 800;
  text-transform: uppercase;
  font-style: italic;
  color: transparent;
  -webkit-text-stroke-width: extra-large * 0.05;
  -webkit-text-stroke-color: white;
  white-space: nowrap;
  text-shadow: 12px 15px green, 13px 16px pink, 14px 17px pink, 15px 18px pink,
    16px 19px pink, 17px 20px pink, 18px 21px pink, 19px 22px pink;
}
